.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-message {
  grid-column: span 2;
}

.movie-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.App .movie {
  position: relative;
  width: 480px;
  height: 320px;
  overflow: hidden;
}

.App .movie .movie-info {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  transform: translate(-50%, -50%);
  background-color: rgba(3, 3, 3, 0.5);
  width: 80%;
  height: 80%;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.App .movie .movie-info p {
  text-overflow: ellipsis;
  word-break: break-all;
  height: 70%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

ul li {
  list-style: none;
  padding: 0.2rem 0.8rem;
}

ul li:not(:last-child) {
  border-right: 1px solid #fff;
}

.About {
  margin: 0 auto;
  text-align: center;
}

.more {
  padding: 0.4rem 0;
  border: 1px solid #fff;
  color: #fff;
  transition: color 0.3s ease-in;
  text-decoration: none;
}

.more:hover {
  background-color: #fff;
  color: #223;
}
