body {
  margin: 0 auto;
}

.App {
  max-width: 512px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  border: 1px solid #223;
  padding: 1rem 2rem;
  cursor: pointer;
}

button:hover {
  background-color: rgba(77, 88, 77, 0.3);
}

input {
  border: 1px solid #223;
  padding: 1rem 2rem;
}

.text-align-left {
  text-align: left;
}

.margin-top-2 {
  margin-top: 2rem;
}

.display-none {
  display: none;
}
