body {
  margin: 0 auto;
}

.App {
  max-width: 512px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  border: 1px solid #223;
  padding: 1rem 2rem;
  cursor: pointer;
}

button:hover {
  background-color: rgba(77, 88, 77, 0.3);
}

input {
  border: 1px solid #223;
  padding: 1rem 2rem;
}

.text-align-left {
  text-align: left;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.display-none {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scroll-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.scroll-nav button {
  padding: 1rem 1.3rem;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel ul {
  display: flex;
  gap: 1rem;
}

.active {
  background-color: rgba(0, 100, 150, 0.3);
}
